<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown
					mode="Singleton"
					type="WinSrfrCommandInterface.WinSrfrCommandInterface, WinSrfrCommandInterface"
					objectUri="WinSrfrCommandInterface.rem"
				/>
			</service>
			<channels>
				<channel ref="http" port="8047"/>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
